body {
    background-color: #252525;
}

.container {
    body {
        background-color: #252525;
    }
    
    .container {
        background-color: rebeccapurple;
        width: 80%;
        margin: auto;
        display: flex;
    }
    
    .text {
        background-color: #BBB;
        width: 100%;
    }
    
    .image {
        background-color: red;
        width: 100%;
        height: 500px;
    }
    
    @media only screen and (max-width:1200px) {
        .image {
            background-color: blue;
        }
    }
    
    
    @media only screen and (max-width: 576px) {
    
        .container {
            width: 95%;
            flex-wrap: wrap;
        }
    
        .image {
            background-color: green;
        }
    
    }